{% macro render(home, currentPage) %}
<div class="contenedorNav">
  <!-- ICONO NAV -->
  <div class="navIcon">
    <input type="checkbox" id="checkbox" class="checkbox hidden nav_icono" />
    <label for="checkbox">
      <div class="hamburger hamIcon">
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
        <span class="bar bar3"></span>
        <span class="bar bar4"></span>
        <span class="bar bar5"></span>
      </div>
    </label>
  </div>
  <!-- PESTAÑAS -->
  <ul class="tabs menuTabs mobile">
    {% for tab in home._children %}
    <li>
      <a href="{{ tab._url }}" class="menu__item">{{ tab.title }}</a>
      {% if tab._children.length %}
      <!-- <ul>
            {% for child in tab._children %}
            <li><a href="{{ child._url }}">{{ child.title }}</a></li>
            {% endfor %}
          </ul> -->
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}
